################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsCSharpProject/obj/Debug
/.vs/WindowsCSharpProject/v15/sqlite3
